<!DOCTYPE html>

<html>

<head>
<title>Game Site Registration</title>

<style>
body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	background: #040116;
	flex-direction: column;
	margin: 0;
}

.main {
	background-color: #1e0843;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	transition: transform 0.2s;
	width: 500px;
	text-align: center;
}

h1 {
	color: #114ea2;
}

label {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: left;
	color: #ffffff;
	font-weight: bold;
}


input {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ffffff;
	border-radius: 5px;
}

button {
	padding: 15px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	color: white;
	cursor: pointer;
	background-color: #045aaf;
	width: 100%;
	font-size: 16px;
}
div p, div h3 {
	color: white;
}
.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
</head>

<body>

	<div class="main">
		<h1>Game Site</h1>
		<h3>{{message}}</h3>

		<!-- Establish method as GET -->
		<form method="GET">

			<!-- Gather username from user -->
			<label for="first">
				Username:
			</label>

			<input type="text"
				id="first"
				name="first"
				placeholder="Enter your Username" required>

			<!-- Gather password from user -->
			<label for="password">
				Password:
			</label>
			<input type="password"
				id="password"
				name="password"
				placeholder="Enter your Password" required>

			<!-- Submit button for user -->
			<div class="wrap">
				<button type="submit"
						onclick="solve()">
					Submit
				</button>
			</div>
		</form>

		<!-- Create account if user isn't registered -->
		<p>Not registered?

			<a href="http://127.0.0.1:5000/create-account"

			style="text-decoration: none;">
				Create an account

			</a>
		</p>
	</div>
</body>

</html>
